<% if (is_post()){ %>
<div class="article-category">
	<a href="https://raw.githubusercontent.com/JamesPan/blog-src/master/source/<%= post.source %>" target="_blank"><i class="fa fa-code"></i></a>
</div>
<% } %>

