<% if (page.cc){ %>
<div id="wechat-pp" align="center">
<!-- <div id="wechat-pp" class="print-invisible" align="center"> -->
<p>哎呦，不错哦，这个博客有意思~</p>
<div align="center" style="float:left;display:inline;width: 48%;">
  <div><img alt="微信扫一扫，获取新文章推送" class="" style="border-width:0" src="//i.imgur.com/aG2dTvD.jpg"/></div>
  <!-- <span>微信扫一扫，获取新文章推送</span> -->
</div>

<div align="center" style="float:right;display:inline;width: 48%;">
  <div><img alt="微信扫一扫，请博主喝杯咖啡" class="" style="border-width:0" src="//i.imgur.com/FKO01sA.jpg"/></div>
  <!-- <span>微信扫一扫，请博主喝杯咖啡</span> -->
</div>
<style type="text/css">
  #wechat-pp p {
  	/*line-height: 1.5em;*/
  	margin: 1.5em 0;
  }
</style>
</div>

<% } %>
