
<%- partial('comment') %>
<script async="async" src="//dn-lbstatics.qbox.me/lbservice/busuanzi/2.0/busuanzi.mini.js"></script>

<% if (theme.fancybox){ %>
  <% /*
  <script type="text/javascript">
  loadCSS("//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.css");
  </script>
  */ %>
  <script src="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.css">

<script type="text/javascript">
(function($) {
  // Caption
  $('.article-entry').each(function(i) {
    $(this).find('img').each(function() {
      if ($(this).parent().hasClass('fancybox')) return;
      if ($(this).hasClass('nofancy')) return;
      var alt = this.alt;
      if (alt) $(this).after('<span class="caption">' + alt + '</span>');
      $(this).wrap('<a href="' + ($(this).attr('data-src') == null ? this.src : $(this).attr('data-src')) + '" title="' + alt + '" class="fancybox"></a>');
    });
  });
  if ($.fancybox) {
    $('.fancybox').fancybox({
      helpers: {
        overlay: {
          locked: false
        }
      }
    });
  }
})(jQuery);
</script>
<% } %>
