<% if (page.cc){ %>
<div align="center"  class="print-invisible" style="margin-bottom: 20px;">
  <img alt="哎呦，不错哦，这个博客有意思~微信扫一扫，最新文章主动推送" style="border-width:0" src="http://ww1.sinaimg.cn/small/e724cbefgw1ewlex9o0vrj20by0by0ti.jpg" data-src="http://ww1.sinaimg.cn/large/e724cbefgw1ewlex9o0vrj20by0by0ti.jpg"/>
</div>
<% } %>
