<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('widget.announces') %></h3>
    <div class="widget">
      如果你有闲置的图书，可以尝试和我 <b><a href="/flea/">交换</a></b>
    </div>
  </div>
<% } %>