<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('widget.announces') %></h3>
    <div class="widget">
      <p>如果你有闲置的图书，可以尝试和我 <b><a href="/flea/">交换</a></b></p>
      <p>云栖社区有奖征集优秀博文，点 <b><a href="https://yq.aliyun.com/articles/30659">传送门</a></b></p> 参与活动
    </div>
  </div>
<% } %>
