.heimu
  background-color #252525 !important
  color #252525 !important
.toc-article
  background color-code
  margin 2em 0 0 0.5em
  padding 1em
  strong
    padding 0.3em 0
#toc
  line-height 1em
  font-size 0.8em
  float right
  .toc
    padding 0 
    li
      list-style-type none
  .toc-child 
    padding-left 1.5em

@media only print
  .print-invisible *
    display: none !important

@media mq-mobile
  .mobile-hide
    display: none !important

@media mq-mini
  .mobile-hide
    display: none !important

.article-author
  float: right
  line-height: 1em
  color: #9a9ea3
  margin-right: 10px

.article-simple
  padding-left: 20px;
  //padding-bottom: 5px;
  background: #fff;
  font-size: 15px;

.article-entry
  h1, h2, h3, h4, h5, h6
    font-weight: normal
  //a
  //  color: color-default
  //  text-decoration: none
  //  background-position: 0 0.95em;
  //  background-size: 1px 1px;
  //  background-image: linear-gradient(#fff 50%, color-default 50%)
  //  background-repeat: repeat-x;
  //  &:hover
  //    color: color-link
  //    background-image: linear-gradient(#fff 50%, color-link 50%)
  //  &:visited
  //    color: color-link
  //    background-image: linear-gradient(#fff 50%, color-link 50%)


#footer
  border-top: 0px

.article-inner
  box-shadow: 0 0 0 0


body
  -webkit-font-smoothing: antialiased
