.heimu
  background-color #252525 !important
  color #252525 !important
.toc-article
  background color-code
  margin 2em 0 0 0.5em
  padding 1em
  strong
    padding 0.3em 0
#toc
  line-height 1em
  font-size 0.8em
  float right
  .toc
    padding 0 
    li
      list-style-type none
  .toc-child 
    padding-left 1.5em

@media only print
  .print-invisible *
    display: none !important

@media mq-mobile
  .mobile-hide
    display: none !important

@media mq-mini
  .mobile-hide
    display: none !important

.article-author
  float: right
  line-height: 1em
  color: color-default
  margin-right: 10px

.article-simple
  padding-left: 20px;
  //padding-bottom: 5px;
  background: #fff;
  font-size: 15px;

.article-entry
  h1, h2, h3, h4, h5, h6
    font-weight: normal


#footer
  border-top: 0px

.article-inner
  box-shadow: 0 0 0 0


body
  -webkit-font-smoothing: antialiased
